<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename = 'css/signUpStyle.css')}}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
  <title>Sign Up</title>
</head>
<body>
  <div class= "signUpOption">
    <h2>Sign Up</h2>
    <form method="POST">
      <label class = "Username" for="username">Username</label>
      <input class = "Username" type="text" id="username" name="username" required>
      <br/>
      <br/>
      <br/>
      <br/>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    <br/>
    <br/>
    <br/>
    <br/>
      <label class = "Password" for="password">Password</label>
      <input class = "Password" type="password" id="password" name="password" required>
      {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    <br/>
    <br/>
      <button type="submit">Sign Up</button>
    </form>
  </div>
</body>
</html>
